* {
  margin:0;
  padding:0;
}

body {
  margin: 0 auto;
}

.maintcont {
  display: flex;
  justify-content: center;
  width: 100%;

}


nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em;
  margin-top: 2em;
  background-color: lightgray;
  justify-content: space-between;
}

li, a {
list-style: none;
    display: inline;
    padding: 0.5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    justify-content: center;
    
}

#images {
  display: flex;
  align-items: center;
  padding: 3em;
}

.footcont {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 3em;
  width: 100%;
  background-color: lightgreen;
}